$blue_light:  #D3F0F5;
$blue_dark:    #078CBE;
$gray: #C9CFD1;

$primary:       $blue_light ;
$secondary:     $gray ;
// $success:       $green ;
$info:          $blue_dark ;
// $warning:       $yellow ;
// $danger:        $red ;
// $light:         $gray-100 ;
// $dark:          $gray-900 ;

.start-30 {
    left: 30%;
  }

.start-10 {
    left: 10%;
  }
.start-30 {
    left: 30%;
  }
.start-55 {
    left: 55%;
  }

.top-84{
  top:84%;
}  
.top-15{
  top: 15%;
}
.top-20{
  top: 20%;
}



// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss"